*.HELP.md
*.gradle/
*build/
*.bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
*..apt_generated
*..classpath
*..factorypath
*..project
*..settings
*..springBeans
*..sts4-cache 
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.out/

### NetBeans ###
*./nbproject/private/
*./nbbuild/
*./dist/
*./nbdist/
*./.nb-gradle/

### VS Code ###
*..vscode/

*.DS_Store
/frontend/public_portal/node_modules
/frontend/vol_portal/node_modules
/frontend/patient_portal/node_modules
*./dist

# local env files
.env.local
.env.*.local

# Log files
*.logs
*.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#APIkey
/frontend/src/constants/apiKey.js
/frontend/public_portal/src/constants/apiKey.js
/frontend/vol_portal/src/constants/apiKey.js
/frontend/patient_portal/src/constants/apiKey.js
